.homeContainer h1 {
	font-size: 28px;
	color: #4b176a;
	text-align: center;
}

.imgContainer {
	width: 100%;
	height: 70vh;
	margin: 1rem 0;
	background-image: url(../assets/bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}

.subscriptionButtonContainer {
	margin: 1rem;
	margin-top: 0;
	text-align: center;
}

.joinNow,
.signUPNow {
	background-color: #4b176a !important;
	width: 15rem;
	height: 4rem;
	border-radius: 5rem !important;
}

.customBtn {
	background-color: #4b176a !important;
}
.items {
	background: #fff;
	padding: 1rem;
	margin: 1rem 0;
	text-align: center;
	border-radius: 1rem;
}
.itemSupportText {
	font-style: oblique;
}
.items,
.itemSubheading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.itemSubheading h1 {
	margin-bottom: 2rem;
}

.itemSubheading h2 {
	font-size: 24px;
	text-align: center;
	color: #4b176a;
}
.itemImg img {
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 0 10px #ddd;
}

.callToAction {
	margin: 2rem 0;
	background: #fff;
	padding: 1rem;
	border-radius: 1rem;
	text-align: center;
}
.callToAction h1 {
	margin: 2rem;
}
.Row {
	margin: 3rem 0;
}

@media only screen and (max-width: 787px) {
	.imgContainer {
		height: 20vh;
	}
	.itemSubheading {
		margin: 1rem;
	}
}
