.teamContainer {
	padding: 1rem 0;
	background-color: #fff;
	margin: 1rem 0;
	border-radius: 1rem;
	box-shadow: 0 0 10px #4b176a;
}
.teamProfile {
	text-align: center;
}
.teamProfile img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 0 10px #ddd;
}

.description {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.description h4 {
	color: #4b176a;
}

@media only screen and (max-width: 787px) {
	.description {
		margin: 1rem;
	}
}
